/* You can add global styles to this file, and also import other style files */
:root {
  --color-modal-background: #fff;
  --view-height-medium: 24px;
  --view-border: 1px solid #ccc;
  --view-border-radius: 4px;

  --text-primary: #ccc;
  --text-primary-inverted: #333;
  
  --text-size-small: 12px;
  --text-size-medium: 14px;
  --text-size-large: 16px;
  
  --text-weight-normal: 400;
  --text-weight-medium: 500;
  --text-weight-bold: 600;
  
  --gap-small: 6px;
  --gap-medium: 12px;
  --gap-large: 24px;
  --padding-medium: 12px;
  --padding-large: 24px;

  --icon-button-size: 32px;
}