:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  animation: fadeInUp 300ms ease-out;
  img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
